{% extends 'base.html' %}

{% block content %}

<div class="project-form-wrapper">

    <form method="POST" enctype="multipart/form-data" class="project-form">
        {% csrf_token %}

        <h2 class="project-form-title">Submit Project</h2>

        <input type="text" name="title" placeholder="Project Title" class="project-form-input" required>
        <textarea name="description" placeholder="Project Description" class="project-form-textarea" required></textarea>
        <input type="number" name="budget" placeholder="Budget" class="project-form-input" required>
        <input type="date" name="deadline" class="project-form-input" required>
        <input type="file" name="project_file" class="project-form-input" style="background: white; color: black;" required>

        <button class="project-form-btn">Submit Project</button>
    </form>

</div>

{% endblock %}