{% extends 'base.html' %}

{% block content %}

<div style="padding:100px;display:flex;justify-content:center;">

<form method="POST" enctype="multipart/form-data"
style="width:500px;background:black;padding:40px;border-radius:15px;">

    {% csrf_token %}

    <h2 style="margin-bottom:30px;color:#ff0000;text-align:center;">
        Submit Project
    </h2>

    <input type="text"
    name="title"
    placeholder="Project Title"

    style="width:100%;
    padding:15px;
    margin-bottom:20px;">

    <textarea
    name="description"
    placeholder="Project Description"

    style="width:100%;
    height:150px;
    padding:15px;
    margin-bottom:20px;"></textarea>

    <input type="number"
    name="budget"
    placeholder="Budget"

    style="width:100%;
    padding:15px;
    margin-bottom:20px;">

    <input type="date"
    name="deadline"

    style="width:100%;
    padding:15px;
    margin-bottom:20px;">

    <input type="file"
    name="project_file"

    style="width:100%;
    padding:15px;
    margin-bottom:20px;
    background:white;">

    <button
    style="width:100%;
    padding:15px;
    background:#ff0000;
    color:black;
    border:none;
    font-weight:bold;">

        Submit Project

    </button>

</form>

</div>

{% endblock %}