{% extends 'base.html' %}

{% block content %}

<div class="my-projects-wrapper">

    <h1 class="my-projects-title">Submitted Projects</h1>

    {% for project in projects %}

    <div class="project-card">
        <h2 class="project-card-title">{{ project.title }}</h2>

        <p class="project-card-desc">{{ project.description }}</p>

        <p class="project-card-info"><strong>Budget:</strong> ₹{{ project.budget }}</p>
        <p class="project-card-info"><strong>Deadline:</strong> {{ project.deadline }}</p>

        <p class="project-card-status">Status: {{ project.status }}</p>

        {% if project.project_file %}
        <div style="margin-top: 20px;">
            <a href="{{ project.project_file.url }}" target="_blank" class="project-card-file-btn">
                View Uploaded File
            </a>
        </div>
        {% endif %}
    </div>

    {% empty %}

    <h2 class="my-projects-title" style="font-size: 24px;">No Projects Submitted</h2>

    {% endfor %}

</div>

{% endblock %}