{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">

    <form method="POST" class="auth-form">
        {% csrf_token %}

        <h2 class="auth-title">Login</h2>

        <input type="text" name="username" placeholder="Username" class="auth-input" required>
        <input type="password" name="password" placeholder="Password" class="auth-input" style="margin-bottom: 28px;" required>

        <button class="auth-btn">Login</button>

        <p class="auth-footer-text">
            New here?
            <a href="{% url 'register' %}" class="auth-link">Create Account</a>
        </p>
    </form>

</div>

{% endblock %}