{% extends 'base.html' %}

{% block content %}

<div class="auth-wrapper">

    <form method="POST" class="auth-form">
        {% csrf_token %}

        <h2 class="auth-title">Register</h2>

        <input type="text" name="username" placeholder="Username" class="auth-input" required>
        <input type="email" name="email" placeholder="Email" class="auth-input" required>
        <input type="password" name="password" placeholder="Password" class="auth-input" style="margin-bottom: 28px;" required>

        <button class="auth-btn">Create Account</button>

        <p class="auth-footer-text">
            Already have an account?
            <a href="{% url 'login' %}" class="auth-link">Login</a>
        </p>
    </form>

</div>

{% endblock %}