{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hallucination</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">

</head>
<body>

    <nav>

        <div class="logo">

            <img src="/static/images/logo.jpeg" alt="logo">

            <span>Hallucination</span>

        </div>

        <div class="nav-links">

    <a href="/">Home</a>

    <a href="/portfolio/">Portfolio</a>

    <a href="/contact/">Contact</a>

   


</div>

    </nav>

    {% block content %}

    {% endblock %}

</body>

<a href="https://wa.me/918075092487"

style="
position:fixed;
bottom:25px;
right:25px;

width:50px;
height:50px;

background:#3E000C;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

font-size:34px;
color:white;

text-decoration:none;

box-shadow:0 10px 30px rgba(0,0,0,0.3);

z-index:9999;">

    ✆

</a>
</html>